// /////mixin/////
@mixin zoom($times) {
    transition: ease-in-out $times;
}

@mixin lg() {
    @media (min-width:768px) {
        @content
    }
}

// /////字體設定/////
.english {
    font-family: $english;
}

.chinese {
    font-family: $chinese;
}

// /////按鈕設定/////
.btn-primary {
    border-radius: 0px;
    @include zoom(0.3s);

    &:hover {
        color: $secondary;
    }
}

.tags {
    font-family: 'Noto Serif TC', sans-serif;
    position: relative;
    padding: 4px 16px;
    border: 1px solid $primary;
    border-left: 0;
    margin-right: 8px;
    font-size: 14px;

    @include lg() {
        font-size: 16px;
        padding: 4px 24px;
    }

    &::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 103%;
        background-color: $primary;
        left: 0;
        top: -1%;
    }

    &:hover {
        background-color: $primary;
        color: $white;
    }

    &:hover::before {
        background-color: $secondary;
    }
}