// /////banner/////
.banner {
  .swiper {
    width: 100%;
    height: 100%;

    &-wrapper {
      height: 350px;

      @include lg() {
        height: 518px;
      }
    }

    &-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 350px;

      @include lg() {
        height: 518px;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }

    &-button-next,
    &-button-prev {
      margin-right: 40px;
      margin-left: 40px;

      &::after {
        font-size: 32px;
        color: $white;
      }
    }
  }

  &-info {
    max-width: 832px;
    margin: auto auto 0;
  }
}

// /////service/////

.service {
  padding: 20px 0;
  margin: 0 auto;
  @include zoom(0.3s);

  @include lg() {
    padding: 35px 0;
  }

  &:hover {
    background-color: $secondary;
  }

  img {
    width: 40px;

    @include lg() {
      width: 80px;
    }
  }
}

.more {
  height: 100%;
  color: $white;
  font-size: 24px;
  @include zoom(0.3s);

  @include lg() {
    font-size: 48px;
  }

  &:hover {
    color: $secondary;
  }
}

// /////recent/////
.recent-event {
  .card-img-top {
    height: 210px;
    max-height: 210px;
    overflow: hidden;

    @include lg() {
      height: 255px;
      max-height: 255px;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      @include zoom(0.5s);
    }
  }

  .card:hover .card-img-top img {
    transform: scale(1.2);
  }

  .card-text {
    text-align: justify;
  }

  .card-footer {

    span {
      @include zoom(0.3s);
    }

    .recent-tags:hover span {
      text-decoration: underline;
    }

    .recent-tags img {
      height: auto;
      width: 20px;

      @include lg() {
        max-width: 24px;
      }
    }

    .action {
      width: 68px;
      height: 16;

      &:hover .circle {
        display: block;
      }

      span {
        position: inherit;
        z-index: 1;
      }
    }

    .circle {
      width: 30px;
      height: 30px;
      border-radius: 30px;
      z-index: 0;
      display: none;
      @include zoom(0.3s);
    }
  }
}

// /////online/////
.online-img {
  width: 100%;
  max-height: 158px;
  overflow: hidden;

  @include lg() {
    max-height: 317px;
  }

  img {
    width: 100%;
    max-height: 158px;
    object-fit: cover;
    object-position: center 30%;

    @include lg() {
      max-height: 317px;
    }
  }
}

// /////albums/////
.albums {
  .swiper {
    width: 100%;
    height: auto;
    background-color: #000;
  }

  .swiper-wrapper {
    transition-timing-function: linear;
  }

  .swiper-slide {
    letter-spacing: 3.2px;
    width: auto;
    color: #FBFF22;
    background: #000;
  }

}