.swiper {
  width: 100%;
  height: 100%;

  &-wrapper {
    height: 350px;

    @include lg() {
      height: 518px;
    }
  }

  &-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;

    @include lg() {
      height: 518px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &-button-next,
  &-button-prev {
    margin-right: 40px;
    margin-left: 40px;

    &::after {
      font-size: 32px;
      color: $white;
    }
  }
}

.banner-info {
  max-width: 832px;
  margin: auto auto 0;
}

.service {
  padding: 20px 0;
  margin: 0 auto;
  @include zoom(0.3s);

  @include lg() {
    padding: 35px 0;
  }

  &:hover {
    background-color: $secondary;
  }

  img {
    width: 40px;

    @include lg() {
      width: 80px;
    }
  }
}

.more {
  height: 100%;
  color: $white;
  @include zoom(0.3s);


  &:hover {
    color: $secondary;
  }
}