<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>W6-7TAO活動訂票網 │ Event 所有活動</title>
    <link rel="stylesheet" href="../assets/images/icofont/icofont.min.css" />
  </head>
  <body>
    <!-- /////header///// -->
    <%- include('./layout/header'); -%>
    <main>
      <div class="container">
        <!-- /////event///// -->
        <h2
          class="w-100 d-flex justify-content-between align-items-center border border-3 border-primary py-base py-lg-4 px-3 px-lg-5 mb-3 mt-base my-lg-5"
        >
          <span class="english fs-4 fs-lg-1">EVENT</span>
          <span class="chinese fs-6 fs-lg-3">所有活動</span>
        </h2>
        <div class="mb-5">
          <a href="#" class="tags">演出</a>
          <a href="#" class="tags">音樂</a>
          <a href="#" class="tags">舞蹈</a>
          <a href="#" class="tags">戲劇</a>
          <a href="#" class="tags">音樂會</a>
          <a href="#" class="tags">課程講座</a>
          <a href="#" class="tags">社群活動</a>
          <a href="#" class="tags">展覽</a>
          <a href="#" class="tags">研討會</a>
          <a href="#" class="tags">電影</a>
          <a href="#" class="tags">電音派對</a>
          <a href="#" class="tags">遊戲競技</a>
          <a href="#" class="tags">親子</a>
          <a href="#" class="tags">藝文活動</a>
          <a href="#" class="tags">運動</a>
          <a href="#" class="tags">交通旅遊</a>
          <a href="#" class="tags">美食</a>
          <a href="#" class="tags">資訊科技</a>
          <a href="#" class="tags">聯誼</a>
          <a href="#" class="tags">戶外</a>
          <a href="#" class="tags">線上活動</a>
        </div>
      </div>
    </main>
    <!-- /////footer///// -->
    <%- include('./layout/footer'); -%>
  </body>
</html>
