<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>W6-7TAO活動訂票網 │ 此刻打盹，你將做夢；此刻學習，你將圓夢</title>
    <link rel="stylesheet" href="../assets/images/icofont/icofont.min.css" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <h1 class="index-title">我是首頁</h1>
    <img src="../assets/images/cat.jpg" style="width: 300px" alt="cat" />
    <button type="button" class="btn btn-primary">123</button>
    <i class="icofont-ui-file"></i>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
