<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>W6-7TAO活動訂票網 │ 此刻打盹，你將做夢；此刻學習，你將圓夢</title>
    <link rel="stylesheet" href="../assets/images/icofont/icofont.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <div class="container">
        <!-- /////banner///// -->
        <section class="banner">
          <div class="swiper bannerSwiper mt-base mt-md-5 mb-5 mb-lg-6">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  src="../assets/images/event/13.jpg"
                  alt="隔牆有耳-沒有草東的派對"
                />
                <div
                  class="position-absolute w-100 h-100 text-white pt-base pt-md-6 px-6 px-md-6 pb-4 d-flex flex-column"
                >
                  <p
                    class="english fs-3 fs-md-xl text-start lh-1 d-flex flex-column flex-md-row"
                  >
                    19 MAY&nbsp;<span>2023</span>
                  </p>
                  <div class="banner-info">
                    <h2 class="chinese fs-m fs-md-4 mb-0 mb-md-base">
                      隔牆有耳-沒有草東的派對
                    </h2>
                    <p class="fs-6 d-none d-md-block">
                      你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
                      帶上啤酒、野餐墊，讓我們在Live
                      House外面一起開場「沒有草東的派對」吧！
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <img
                  src="../assets/images/event/13.jpg"
                  alt="隔牆有耳-沒有草東的派對"
                />
                <div
                  class="position-absolute w-100 h-100 text-white pt-base pt-md-6 px-6 px-md-6 pb-4 d-flex flex-column"
                >
                  <p
                    class="english fs-3 fs-md-xl text-start lh-1 d-flex flex-column flex-md-row"
                  >
                    19 MAY&nbsp;<span>2023</span>
                  </p>
                  <div class="banner-info">
                    <h2 class="chinese fs-m fs-md-4 mb-0 mb-md-base">
                      隔牆有耳-沒有草東的派對
                    </h2>
                    <p class="fs-6 d-none d-md-block">
                      你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
                      帶上啤酒、野餐墊，讓我們在Live
                      House外面一起開場「沒有草東的派對」吧！
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <img
                  src="../assets/images/event/13.jpg"
                  alt="隔牆有耳-沒有草東的派對"
                />
                <div
                  class="position-absolute w-100 h-100 text-white pt-base pt-md-6 px-6 px-md-6 pb-4 d-flex flex-column"
                >
                  <p
                    class="english fs-3 fs-md-xl text-start lh-1 d-flex flex-column flex-md-row"
                  >
                    19 MAY&nbsp;<span>2023</span>
                  </p>
                  <div class="banner-info">
                    <h2 class="chinese fs-m fs-md-4 mb-0 mb-md-base">
                      隔牆有耳-沒有草東的派對
                    </h2>
                    <p class="fs-6 d-none d-md-block">
                      你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
                      帶上啤酒、野餐墊，讓我們在Live
                      House外面一起開場「沒有草東的派對」吧！
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </section>
        <!-- /////service///// -->
        <div class="row row-cols-3 row-cols-md-6 g-2 gx-lg-4 mb-5 mb-lg-6">
          <div class="col">
            <a
              href="#"
              class="service border border-2 border-primary d-flex flex-column justify-content-center align-items-center"
            >
              <img src="../assets/images/cate01.svg" alt="演出" class="mb-3" />
              <span class="chinese fs-base fs-lg-4">演出</span>
            </a>
          </div>
          <div class="col">
            <a
              href="#"
              class="service border border-2 border-primary d-flex flex-column justify-content-center align-items-center"
            >
              <img src="../assets/images/cate02.svg" alt="聯誼" class="mb-3" />
              <span class="chinese fs-base fs-lg-4">聯誼</span>
            </a>
          </div>
          <div class="col">
            <a
              href="#"
              class="service border border-2 border-primary d-flex flex-column justify-content-center align-items-center"
            >
              <img src="../assets/images/cate03.svg" alt="展覽" class="mb-3" />
              <span class="chinese fs-base fs-lg-4">展覽</span>
            </a>
          </div>
          <div class="col">
            <a
              href="#"
              class="service border border-2 border-primary d-flex flex-column justify-content-center align-items-center"
            >
              <img src="../assets/images/cate04.svg" alt="美食" class="mb-3" />
              <span class="chinese fs-base fs-lg-4">美食</span>
            </a>
          </div>
          <div class="col">
            <a
              href="#"
              class="service border border-2 border-primary d-flex flex-column justify-content-center align-items-center"
            >
              <img src="../assets/images/cate05.svg" alt="戶外" class="mb-3" />
              <span class="chinese fs-base fs-lg-4">戶外</span>
            </a>
          </div>
          <div class="col">
            <a
              href="#"
              class="d-flex align-items-center more border border-2 border-primary bg-primary"
            >
              <span class="chinese lh-sm mx-auto d-block fs-4 fs-lg-2"
                >探索<br />更多</span
              >
            </a>
          </div>
        </div>
        <!-- /////recent///// -->
        <section class="mb-5 mb-lg-section">
          <h2
            class="title w-100 d-flex justify-content-between align-items-center border border-3 border-primary py-base py-lg-4 px-3 px-lg-5 mb-4 mb-lg-5"
          >
            <span class="english fs-4 fs-lg-1">RECENT</span>
            <span class="chinese fs-6 fs-lg-3">近期活動</span>
          </h2>
          <div class="row row-cols-1 row-cols-md-3 g-4 recent-event">
            <div class="col d-flex">
              <div class="card">
                <a href="#" class="d-flex flex-column">
                  <div class="card-header english fs-3 fs-lg-2 pb-2">
                    19 MAY 2023
                  </div>
                  <div class="card-img-top mt-base">
                    <img
                      src="../assets/images/event/01.jpg"
                      alt="邪典電影派對——房間"
                    /></div
                ></a>
                <div class="card-body d-flex flex-column">
                  <a href="#" class="d-flex flex-column flex-grow-1">
                    <h3 class="card-title my-2 my-lg-3 chinese fs-m">
                      邪典電影派對——房間
                    </h3>
                    <p class="card-text mb-base">
                      你有聽說過「大災難家」裡面的主角 Tommy Wiseau
                      製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，...
                    </p>
                  </a>
                </div>
                <div class="card-footer d-flex justify-content-between py-3">
                  <a
                    href="#"
                    class="card-link recent-tags d-flex align-items-center"
                  >
                    <img
                      src="../assets/images/sparkler.png"
                      alt="tags"
                      class="me-1"
                    /><span class="chinese">社群活動</span>
                  </a>
                  <a href="#" class="action position-relative">
                    <span class="fw-bold"
                      >開賣中<i class="icofont-rounded-double-right ms-1"></i
                    ></span>
                    <div
                      class="circle bg-secondary position-absolute translate-middle top-50"
                    ></div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col d-flex">
              <div class="card">
                <a href="#" class="d-flex flex-column">
                  <div class="card-header english fs-3 fs-lg-2 fs-lg-2 pb-2">
                    23 MAY 2023
                  </div>
                  <div class="card-img-top mt-base">
                    <img
                      src="../assets/images/event/02.jpg"
                      alt="怪舞俱樂部"
                    /></div
                ></a>
                <div class="card-body d-flex flex-column">
                  <a href="#" class="d-flex flex-column flex-grow-1">
                    <h3 class="card-title my-2 my-lg-3 chinese fs-m">
                      怪舞俱樂部
                    </h3>
                    <p class="card-text mb-base">
                      覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...
                    </p>
                  </a>
                </div>
                <div class="card-footer d-flex justify-content-between py-3">
                  <a
                    href="#"
                    class="card-link recent-tags d-flex align-items-center"
                  >
                    <img
                      src="../assets/images/sparkler.png"
                      alt="tags"
                      class="me-1"
                    /><span class="chinese">演出</span>
                  </a>
                  <a href="#" class="action position-relative">
                    <span class="fw-bold"
                      >開賣中<i class="icofont-rounded-double-right ms-1"></i
                    ></span>
                    <div
                      class="circle bg-secondary position-absolute translate-middle top-50"
                    ></div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col d-flex">
              <div class="card">
                <a href="#" class="d-flex flex-column">
                  <div class="card-header english fs-3 fs-lg-2 fs-lg-2 pb-2">
                    30 MAY 2023
                  </div>
                  <div class="card-img-top mt-base">
                    <img
                      src="../assets/images/event/03.jpg"
                      alt="哈利波特馬拉松"
                    /></div
                ></a>
                <div class="card-body d-flex flex-column">
                  <a href="#" class="d-flex flex-column flex-grow-1">
                    <h3 class="card-title my-2 my-lg-3 chinese fs-m">
                      哈利波特馬拉松
                    </h3>
                    <p class="card-text mb-base">
                      每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...
                    </p>
                  </a>
                </div>
                <div class="card-footer d-flex justify-content-between py-3">
                  <a
                    href="#"
                    class="card-link recent-tags d-flex align-items-center"
                  >
                    <img
                      src="../assets/images/sparkler.png"
                      alt="tags"
                      class="me-1"
                    /><span class="chinese">聯誼</span>
                  </a>
                  <a href="#" class="action position-relative">
                    <span class="fw-bold"
                      >開賣中<i class="icofont-rounded-double-right ms-1"></i
                    ></span>
                    <div
                      class="circle bg-secondary position-absolute translate-middle top-50"
                    ></div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col d-flex">
              <div class="card">
                <a href="#" class="d-flex flex-column">
                  <div class="card-header english fs-3 fs-lg-2 fs-lg-2 pb-2">
                    12 June 2023
                  </div>
                  <div class="card-img-top mt-base">
                    <img
                      src="../assets/images/event/04.jpg"
                      alt="皮卡丘排球大賽"
                    /></div
                ></a>
                <div class="card-body d-flex flex-column">
                  <a href="#" class="d-flex flex-column flex-grow-1">
                    <h3 class="card-title my-2 my-lg-3 chinese fs-m">
                      皮卡丘排球大賽
                    </h3>
                    <p class="card-text mb-base">
                      還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...
                    </p>
                  </a>
                </div>
                <div class="card-footer d-flex justify-content-between py-3">
                  <a
                    href="#"
                    class="card-link recent-tags d-flex align-items-center"
                  >
                    <img
                      src="../assets/images/sparkler.png"
                      alt="tags"
                      class="me-1"
                    /><span class="chinese">遊戲競賽</span>
                  </a>
                  <a href="#" class="action position-relative">
                    <span class="fw-bold"
                      >開賣中<i class="icofont-rounded-double-right ms-1"></i
                    ></span>
                    <div
                      class="circle bg-secondary position-absolute translate-middle top-50"
                    ></div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col d-flex">
              <div class="card">
                <a href="#" class="d-flex flex-column">
                  <div class="card-header english fs-3 fs-lg-2 fs-lg-2 pb-2">
                    25 June 2023
                  </div>
                  <div class="card-img-top mt-base">
                    <img
                      src="../assets/images/event/05.jpg"
                      alt="酒精路跑"
                      class="h-100"
                    /></div
                ></a>
                <div class="card-body d-flex flex-column">
                  <a href="#" class="d-flex flex-column flex-grow-1">
                    <h3 class="card-title my-2 my-lg-3 chinese fs-m">
                      酒精路跑
                    </h3>
                    <p class="card-text mb-base">
                      身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
                    </p>
                  </a>
                </div>
                <div class="card-footer d-flex justify-content-between py-3">
                  <a
                    href="#"
                    class="card-link recent-tags d-flex align-items-center"
                  >
                    <img
                      src="../assets/images/sparkler.png"
                      alt="tags"
                      class="me-1"
                    /><span class="chinese">社群活動</span>
                  </a>
                  <a href="#" class="action position-relative">
                    <span class="fw-bold"
                      >開賣中<i class="icofont-rounded-double-right ms-1"></i
                    ></span>
                    <div
                      class="circle bg-secondary position-absolute translate-middle top-50"
                    ></div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col d-flex">
              <div class="card">
                <a href="#" class="d-flex flex-column">
                  <div class="card-header english fs-3 fs-lg-2 fs-lg-2 pb-2">
                    9 July 2023
                  </div>
                  <div class="card-img-top mt-base">
                    <img
                      src="../assets/images/event/06.jpg"
                      alt="展覽——我的房間"
                    /></div
                ></a>
                <div class="card-body d-flex flex-column">
                  <a href="#" class="d-flex flex-column flex-grow-1">
                    <h3 class="card-title my-2 my-lg-3 chinese fs-m">
                      展覽——我的房間
                    </h3>
                    <p class="card-text mb-base">
                      每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。
                    </p>
                  </a>
                </div>
                <div class="card-footer d-flex justify-content-between py-3">
                  <a
                    href="#"
                    class="card-link recent-tags d-flex align-items-center"
                  >
                    <img
                      src="../assets/images/sparkler.png"
                      alt="tags"
                      class="me-1"
                    /><span class="chinese">展覽</span>
                  </a>
                  <a href="#" class="action position-relative">
                    <span class="fw-bold"
                      >開賣中<i class="icofont-rounded-double-right ms-1"></i
                    ></span>
                    <div
                      class="circle bg-secondary position-absolute translate-middle top-50"
                    ></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- /////online///// -->
        <section class="online mb-5 mb-lg-section">
          <h2
            class="title w-100 d-flex justify-content-between align-items-center border border-3 border-primary py-base py-lg-4 px-3 px-lg-5 mb-4 mb-lg-5"
          >
            <span class="english fs-4 fs-lg-1">ONLINE</span>
            <span class="chinese fs-6 fs-lg-3">近期活動</span>
          </h2>
          <div class="card border-0">
            <div class="row g-4">
              <div class="col-12 col-lg-7">
                <div class="online-img">
                  <img
                    src="../assets/images/event/online.jpg"
                    alt="切特居批踢"
                  />
                </div>
              </div>
              <div class="col-12 col-lg-5">
                <div
                  class="card-body d-flex flex-column justify-content-between h-100"
                >
                  <h3 class="card-title chinese fs-m fs-lg-3 mb-2 mb-lg-base">
                    切特居批踢
                  </h3>
                  <div>
                    <a href="#" class="tags">競賽</a
                    ><a href="#" class="tags">科技</a
                    ><a href="#" class="tags">有趣</a>
                  </div>
                  <p class="card-text my-3 my-lg-5 flex-fill">
                    最近網路上很流行的AI程式
                    ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。<br />
                    這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。
                    該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！
                  </p>
                  <button
                    type="button"
                    href="#"
                    class="btn btn-primary w-100 py-base py-lg-2"
                  >
                    <p class="mb-0">
                      查看活動詳情<i
                        class="icofont-rounded-double-right ms-1"
                      ></i>
                    </p>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /////albums///// -->
      <section class="albums mb-5 mb-lg-section">
        <div
          class="swiper albumsSwiper chinese fw-bold fs-6 fs-lg-3 py-base py-lg-4 mb-7 mb-lg-section"
        >
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・
            </div>
            <div class="swiper-slide">
              活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-6 gx-4">
            <div class="col">
              <a href="#">
                <div
                  class="albums-photo border border-2 border-primary px-3 pt-3 pb-5 position-relative"
                >
                  <h3 class="albums-title">社群活動</h3>
                  <div class="albums-img mb-3">
                    <img
                      src="../assets/images/album/01.jpg"
                      alt="無聲派對-閉閉嘴dancing"
                    />
                  </div>
                  <h4 class="chinese fs-m">無聲派對-閉閉嘴dancing</h4>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="#">
                <div
                  class="albums-photo border border-2 border-primary px-3 pt-3 pb-5 position-relative"
                >
                  <h3 class="albums-title">藝文活動</h3>
                  <div class="albums-img mb-3">
                    <img
                      src="../assets/images/album/02.jpg"
                      alt="拯救老店大作戰"
                    />
                  </div>
                  <h4 class="chinese fs-m">拯救老店大作戰</h4>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="#">
                <div
                  class="albums-photo border border-2 border-primary px-3 pt-3 pb-5 position-relative"
                >
                  <h3 class="albums-title">自我覺察</h3>
                  <div class="albums-img mb-3">
                    <img
                      src="../assets/images/album/03.jpg"
                      alt="內觀修行-部落篇"
                    />
                  </div>
                  <h4 class="chinese fs-m">內觀修行-部落篇</h4>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="#">
                <div
                  class="albums-photo border border-2 border-primary px-3 pt-3 pb-5 position-relative"
                >
                  <h3 class="albums-title">聯誼活動</h3>
                  <div class="albums-img mb-3">
                    <img src="../assets/images/album/04.jpg" alt="賞櫻野餐" />
                  </div>
                  <h4 class="chinese fs-m">賞櫻野餐</h4>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div
          class="swiper albumsSwiper chinese fw-bold fs-6 fs-lg-3 py-base py-lg-4 mt-7 mt-lg-section"
        >
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・
            </div>
            <div class="swiper-slide">
              活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>
    <script>
      var swiper = new Swiper(".bannerSwiper", {
        navigation: {
          slidesPerView: 1,
          spaceBetween: 10,

          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
      var swiper = new Swiper(".albumsSwiper", {
        //避免使用者移動到
        allowTouchMove: false,
        //能呈現幾個.swiper-slide
        slidesPerView: "auto",
        //跑馬燈的速度(毫秒)
        speed: 8000,
        //是否重複
        loop: true,
        autoplay: {
          delay: 0,
          disableOnInteraction: false,
        },
      });
    </script>
  </body>
</html>
